:root {

  --basic-black: #000000;
  --basic-black-dark:#444444;

  --basic-gray-blue: #283136;
  --basic-gray-dark: #4d4d4d;
  --basic-gray-dim:#666666;
  --basic-gray-neutral: #ababab;
  --basic-gray-neutral-light: #b4b9bb;
  --basic-gray-neutral-white: #d7dcde;
  --basic-gray-light:#d5d5d5;
  --basic-gray-light-white: #e1e1e1;
  --basic-gray-white: #eeeeee;
  --basic-gray-white-light: #dfdfdf;


  --basic-silver: #c1c1c1;
  --basic-silver-dark: #c4c4c4;

  --basic-white: #ffffff;
  --basic-white-gray: #f2f2f2;

  --special-red: #fb565a;
  --special-red-neutral: #E74246;
  --special-red-dark: #D7373B;

  --special-green: #00ca74;
  --special-green-neutral: #00bc6c;
  --special-green-dark: #00aa62;

  --special-yellow: #efc849;
  --special-yellow-neutral: #eab534;
  --special-yellow-dark: #e5a722;
}
/* Global */
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray-blue);
  background-color: var(--basic-white);
}

.page-body {
  min-width: 1160px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}


.main-header {
  width: 100%;
  min-height: 100%;
  background-color: var(--basic-gray-white);
  padding-top: 60px;
}

  /* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 1160px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.main-header-logo {
  display: block;
  width: 160px;
  height: 65px;

}

.site-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 437px;
  list-style: none;
  margin: 0;
  padding: 0px;
  padding-right: 90px;
}

.user-navigation {
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--special-red);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
}

/* Features */

.features {
  background-color: var(--basic-gray-white);
  padding-bottom: 100px;
}

.features-inner {
  width: 1160px;
  margin: 0 auto;
}

.features-list {
  list-style: none;
}

.feature-item {
  /*text-align: center;*/
  display: none;
}

.feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.feature-item p {
  font-size: 16px;
  line-height: 24px;
}

.feature-item .button {
  width: 240px;
  height: 50px;
}

.feature-item-active {
  display: block;
}

/* Services */

.services {
  padding-bottom: 60px;
  width: 1160px;
  margin-bottom: 80px;
  margin: 0 auto;
}

.services-list  {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  justify-content: center;
  /*display: flex;
  width: 1160px;
  padding: 0;
  justify-content: space-around;
  padding-top: 80px;*/
}

.service-item {
  width: 300px;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

.service-item p {
  padding-bottom: 20px;
}

.service-item .button {
  width: 160px;
  height: 50px;
}
/* Button */

.button {
  display: block;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special-red);
  border: none;
  border-radius: 3px;
}


.slider-buttons {
  list-style: none;
}

.green {
  background-color: var(--special-green);
}

.yellow {
  background-color: var(--special-yellow);
}

.button:hover {
  background-color: var(--special-red-neutral);
}

.button:focus {
  background-color: var(--special-red-dark);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.red {
  background-color: var(--special-red);
}

.red:hover {
  background-color: var(--special-red-neutral);
}

.red:focus {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.green {
  background-color: var(--special-green);
}

.green:hover {
  background-color: var(--special-green-neutral);
}

.green:focus {
  background-color: var(--special-green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.yellow {
  background-color: var(--special-yellow);
}

.yellow:hover {
  background-color: var(--special-yellow-neutral);
}

.yellow:focus {
  background-color: var(--special-yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Contacts */


.contacts-phone {
  color: inherit;
}

/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
  border-color: var(--special);
}

/* Company-details-columns */

.company-details-columns{
  display: grid;
  grid-template-columns: 1fr 360px;
  width: 1160px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
}

/* Company */

.company {
  font-size: 16px;
  line-height: 24px;
  padding-left: 15px;
  margin: 0px;
  padding: 0px;
}

.company h2 {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  font-weight: 500;
}

.company h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
}

.company-item {
  padding-bottom: 20px;
}

/* Details */

.details-list,
.customers-list {
  list-style: none;
  padding-left: 0;
}

.details h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
}

/* Details-list */

.details-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 360px;
  min-height: 110px;
  margin: 0;
  padding: 0;
  column-gap: 20px;
  padding-top: 20px;
  align-content: space-between;
}


.details-list p{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Customers */

.customers {
  padding-top: 40px;
  padding-bottom: 40px;
}


.customers a:hover {
  color: var(--basic-black);
}

.customers a:focus {
  opacity: 0.1;
}

/* Customers-list */

.customers-list {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
}

/* Percent */

.percent {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}


/* Main footer */

.main-footer {
  margin-top: 80px;
}


/* Footer-contacts */

.footer-contacts {
  margin-top: 55px;
  width: 100%;
  margin: 0 auto;
}

.map {
  height: 416px;
  background-image:url("../img/jpg/map.jpg");
}

.contacts-address {
  width: 319px;
  height: 308px;
  color: var(--basic-gray-dim);
}

.contacts-address h3 {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

.contacts-address .button {
  width: 219px;
  height: 50px;
}
/* Footer-social */

.footer-social ul {
  list-style: none;
  padding-left: 0px;
}

.footer-social h2 {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  font-weight: bold;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin: 0 auto;
  /*padding-left: 0px;*/
}

/* Footer-social-button */

.footer-social-list  {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-content: center;
  margin: 0px;
  column-gap: 5px;
}


/* Social button */

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-gray-light-white);
}

.social-button:hover {
  background-color: var(--special-red-neutral);
}

.social-button:focus {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Appointment */

.appointment h2 {
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  font-weight: bold;
}

.appointment-item label {
  color: var(--basic-black);
  font-weight: bold;

}

.appointment-item input,
.appointment-item textarea {
  color: var(--basic-black-dark);
  border: 2px solid var(--basic-gray-neutral-white);
}

.appointment-item input:hover,
.appointment-item textarea:hover {
  border: 2px solid var(--basic-gray-neutral-light);
}

.appointment-item input:focus,
.appointment-item textarea:focus {
  border: 2px solid var(--basic-black);
}

.appointment-item input:invalid,
.appointment-item textarea:invalid {
  color: var(--special-green-neutral);
  border: 2px solid var(--special-red-neutral);
}

/* Page-body */

.page-catalog-container {
  width: 1440px;
  min-height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  margin: 0 auto;
}


.page-title {
  background-color: var(--basic-gray-white);
}

.inner-page .page-title {
  grid-column: 1 / -1;
  margin: 0;
  padding-left: 357px;
  padding-right: 357px;
}


/* Sorting */

.sorting {
  grid-column: 1 / -1;
  width: 1160px;
  padding-left: 140px;
  padding-left: 140px;
}

.sorting ul {
  list-style: none;
  padding-left: 0px;
}

.sorting-list a.active {
  color: var(--basic-black);
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: normal;
  text-decoration: none;
  opacity: 0.3;
}

.sorting-list a:hover,
.rating-list a:hover {
  opacity: 0.6;
}

.sorting-list a:active,
.rating-list a:active {
  color: var(--basic-black);
}

/* Rating-list */

.rating-list {
  padding-left: 0px;

}

/* Filters */

.filter {
  width: 260px;
  padding-left: 140px;
}

.filter ul {
  list-style: none;
  padding-left: 0px;
}

.filter legend,
.sorting-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
}

.filter label {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-gray-blue);
  font-weight: normal;
}

.filter label:hover {
  color: var(--basic-gray-blue);
}

.filter label:disabled {
  opacity: 0.3;
}

.one-ring:hover {
  visibility: visible;
}


.filter button {
  width: 260px;
  height: 50px;
  background-color: var(--basic-gray-white);
  border-radius: 3px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
}

.filter button:hover {
background: var(--basic-gray-white-light);
}

.filter button:active {
  background: var(--basic-gray-light);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}


/* Catalog */
.catalog {
  padding-left: 140px;
}

.catalog ul {
  list-style: none;
  padding-left: 0px;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: 358px 358px;
  margin: 0 auto;
  padding-left: 0px;
  column-gap: 20px;
}

.catalog-card-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-card-image {
  display: block;
}

.catalog-card-link:hover .catalog-card-title {
  color: var(--special-red);
}

.catalog-card-link:active .catalog-card-title {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray-dim);
  font-weight: normal;
}

.catalog-item-wrapper {
  width: 360px;
  height: 231px;
  background-color: var(--basic-gray-white);
}

.catalog-item-wrapper button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--special-red);
  border-radius: 3px;
  border: none;
}

.catalog-item-wrapper button:hover {
  background-color: var(--special-red-neutral);
}

.catalog-item-wrapper button:active {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Pagination */

.pagination-list {
  padding-left: 0px;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray-white);
  border-radius: 3px;
}

.pagination-item-current a {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-white-light);
  box-sizing: border-box;
  border-radius: 3px;
}


.pagination-item a:hover {
  background-color: var(--basic-gray-white-light);
}

.pagination-item a:active {
  background-color: var(--basic-gray-light);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.pagination-list a.active {
  background-color: var(--basic-gray-light);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}
